html, body{
    margin:0;
    padding:0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    height:100%;
    color: #24243e;
}
#wrapper {
    min-height:100%;
    height:auto !important;
    height:100%;
    margin:0 auto 0;
    position:relative;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
#footer {
    padding: 20px;
    background: white;
    height:50px;           /* Footer height */
}
#footer-content {
    height:100%;
    padding:0px;
}
#header-content{
    font-size: x-large;
    height:100%;

}
.formCard {
    background:#24243e;
    color: white;
    width:80%;
    margin: 20px;
    padding-bottom: 25px;
}
.cardHeader {
    color: #24243e;
    background: white;
    font-size: large;
    margin-bottom: 25px;
    font-weight: bolder;
    text-transform: uppercase;
}
.push {
    height:0px;
    clear:both;
    background: white;
}
#header {
    height:100px;
}
#content {
    height:100%;
}
#sidebar {
    border:1px solid skyblue;
    width:100px;
    position:absolute;
    left:0;
    top:115px;
    bottom:0px;
}
#main {
    margin: 0 50px 0 106px;
    height: 100%;
}
img{
    height: 75px;
    margin:0;
    padding: 0;
    float: left;
}
.headerFooter{
    color: #24243e;
}
.profile{
    margin: 0 75px 0 125px;
    height: 95vh;
}
.scroll{
    overflow-y:auto;
    height:80vh;
}
.collapsible {
    background-color: #6d7fcc;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin:0;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin:0;
}
.personalInfo-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
.personalInfo-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.eportBanner{
    margin-bottom: 10px;
    margin-top: 10px;
}
.eportInfo {
    text-align: center;
    font-weight: bolder;
}
.job-list{
    color: #06357a;
    font-family: "Helvetica Neue Light",  sans-serif;
}
.job-list td{
    height: 100px;
}
.affinity{
    width:80%;
    margin: 50px;
}
.photo-button {
    width: 120px;
    height: 50px;
    font-size: medium;
    line-height: 45px;
    text-align: center;

}
.photo-header {
    text-align: center;
    Font-family: 'Bree Serif';
    font-size: 20px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.photo-desc{

    Font-family: 'Bree Serif';
    text-align: justify;
}
.results
{
    text-align: center;
    color:#2c3e50;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-transform: uppercase;

}
.game-board
{
    margin: 50px 25px 100px 30%;
    width:30%;
    display: grid;
    background-color: #2c3e50;
    color: #2c3e50;
    border: .25em solid #2c3e50;
    grid-template-columns: auto auto auto;
    padding: 5px;
}
.box
{
    aspect-ratio: 1/1;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 5vw;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-left: 18%;
    padding-top: 20%;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.computer{
    color: orangered;
}
.player{
    color: greenyellow;
}
.strike{
    text-decoration: line-through;
    -webkit-text-decoration-color: black;
            text-decoration-color: black;
    text-decoration-thickness: 5px;

}
.box:hover {
    background-color: blue;
    color:white;
}
.disabled{
    pointer-events: none;
}
.hangman{
    display: block;
    margin-bottom: 100px;
    margin-right:100px;
    width:20%;
    height: 300px;
}
.dictionary{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}
.dline{

    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    padding-left: 5px;
    padding-top: 5px;
}
.alphabet{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}
.abutton{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    color:forestgreen;

}
.abox
{
    -webkit-text-decoration: line-through red;
    text-decoration: line-through red;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    color:forestgreen;
    margin: 5px;
}
.answer{
    border-bottom: 6px solid darkred;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.aboard{
    margin: 150px 150px 250px 150px;
    color: #2c3e50;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-column-gap: 50px;
}
.hide{
    color: white;
}
.button-img{
    background-color: #68889E;
    color:#FFF;
    border-color: #2F3E48;
}






