a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

i, span {
  display: inline-block;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#portfolio-sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #a991cb;
  color: black;
  transition: all 0.3s;

}

#portfolio-sidebar ul li a {
  text-align: left;
}

#portfolio-sidebar .sidebar-header {
  padding: 20px;
  background: #a991cb;
    font-size: large;
    text-transform: uppercase;
    color:white;
    font-weight: bolder;
    text-align: center;
}

#portfolio-sidebar .sidebar-header strong {
}

#portfolio-sidebar ul.components {
  padding: 20px 0;
    color:white;

}

#portfolio-sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#portfolio-sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#portfolio-sidebar ul li a i {
  margin-right: 10px;
}

#portfolio-sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #522398;
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #522398;
}

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}


@media (max-width: 768px) {
  #portfolio-sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
}

@media (max-width: 768px) {
  #portfolio-sidebar .sidebar-header h3, #portfolio-sidebar .CTAs {
    display: none;
  }
}

@media (max-width: 768px) {
  #portfolio-sidebar .sidebar-header strong {
    display: block;
  }
}

@media (max-width: 768px) {
  #portfolio-sidebar ul li a {
    padding: 20px 10px;
  }
}

@media (max-width: 768px) {
  #portfolio-sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
}

@media (max-width: 768px) {
  #portfolio-sidebar ul ul a {
    padding: 10px !important;
  }
}

@media (max-width: 768px) {
  #portfolio-sidebar ul li a i {
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  #portfolio-sidebar {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  #portfolio-sidebarCollapse span {
    display: none;
  }
}


